window {
margin: 0px;
border: 1px solid #f38ba8;
background-color: #1e1e2e;
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: #313244;
}

#inner-box {
margin: 5px;
border: none;
background-color:#1e1e2e;
}

#outer-box {
margin: 5px;
border: none;
background-color: #1e1e2e;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #cdd6f4;
} 

#entry:selected {
background-color: #313244;
}
